<!-- HEADER -->
<div class="line">
    <section>
        <div class="margin">
            <div class="s-12 m-12 l-6 margin-bottom">
                <a href="@Url.Action("Ekonomi","Home")">
                    <img class="full-img" src="~/Content/img/ekonomi.svg" alt="">
                </a>
            </div>
            <div class="s-12 m-12 l-6 margin-bottom">
                <a href="@Url.Action("Egitim","Home")">
                    <img class="full-img" src="~/Content/img/egitim.svg" alt="">
                </a>
            </div>
            <div class="s-12 m-12 l-6 margin-bottom">
                <a href="@Url.Action("Siyaset","Home")">
                    <img class="full-img" src="~/Content/img/siyaset.svg" alt="">
                </a>
            </div>
            <div class="s-12 m-12 l-6 margin-bottom">
                <a href="@Url.Action("Yasam","Home")">
                    <img class="full-img" src="~/Content/img/yasam.svg" alt="">
                </a>
            </div>
            <div class="s-12 m-12 l-6 margin-bottom">
                <a href="@Url.Action("Spor","Home")">
                    <img class="full-img" src="~/Content/img/spor.svg" alt="">
                </a>
            </div>
            <div class="s-12 m-12 l-6 margin-bottom">
                <a href="@Url.Action("Saglik","Home")">
                    <img class="full-img" src="~/Content/img/saglik.svg" alt="">
                </a>
            </div>
        </div>
    </section>
</div>
